<ion-view cache-view="false" hide-back-button="true" ng-controller="fila.cliente as vm">
  <ion-nav-title>
    {{vm.establecimento.nome}}
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <a class="button icon-left ion-chevron-left button-clear" ng-click="vm.voltarPagina()"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="center">
      <a class="gerar_senha" ng-href="#" ng-click="vm.gerarSenha(vm.usuarioLogado)">
        <i class="fa fa-plus-square-o"></i> Gerar Senha
      </a>

      <hr class="space" />

      <ul class="list_default">
        <li>
          <a href="javascript:" >
            <p class="left">Quantidade de pessoas na fila</p>
            <span class="right"></span>
            <p class="right time done">{{vm.fila.length}}</p>
            <div class="clear"></div>
          </a>
        </li>
        <li>
          <a href="javascript:">
            <p class="left">Senha atual</p>
            <span class="right"></span>
            <p class="right time">{{vm.senha}}</p>
            <div class="clear"></div>
          </a>
        </li>
        <li ng-show="vm.posicao > 0">
          <a href="javascript:">
            <p class="left">Sua senha</p>
            <span class="right"><i class="fa fa-times"></i></span>
            <p class="right time done">{{vm.posicao}}</p>
            <div class="clear"></div>
          </a>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
